img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.droptarget {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
    position: relative;
    float: left;
    text-align: center;
}

h2,
    {
    text-align: center;
}

#created {
    width: 20%;
    height: 20%;
    position: relative;
    float:
}

#dragtarget {
    width: 400px;
    height: 400px;
    background-color: lightblue;
    margin: 20px;
    text-align: center;

}
